.chatbot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: stretch;
    background-color:#121b0d;
  }
  
  .chat-window  {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    background-color: #121b0d;
  }

  .icons{

    width: 40px;
    float:left;
    margin-right: 5px;
    aspect-ratio: 2/3;
  }
  
  .message {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    min-height: 30px;
  }
  
  .user {
    align-self: flex-end;
    background-color: #a7faad;
    color: #112A46;
    border-radius: 15px;
    max-width: 70%;
    padding: 12px 12px;
    margin-bottom: 10px;
    
  }
  
  .bot {
    align-self: flex-start;
    background-color:#baff9a ;
    color: #112A46;
    border-radius: 10px;
    max-width: 70%;
    padding:12px 12px;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    background-color: #548260;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  input[type="text"],
  textarea {
    margin-bottom: 0;
    padding: 10px;
    border: none;
    width: 100%;
    flex: 1;
    font-size: 16px;
    outline: none;
    box-shadow: none;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  pre{
    font-family: 'Source Sans Pro';
    white-space:pre-wrap;
    margin:0;
  }

  @media screen  and (max-width: 700px) {

    .chat-window  {
      display: flex;
      flex-direction: column;
      height:85%;
      width: 95%;
      border-radius: 5px;
      padding: 0px;
      margin-bottom: 0px;
      overflow-y: scroll;
      background-color: #121b0d;
    }
  

    
  }