body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  /* CSS HEX */
--black: #000000ff;
--dark-spring-green: #067B38ff;
--verdigris: #74BCB3ff;
--lavender-blush: #EAE2E7ff;
--penn-blue: #06093Fff;
}